In [1]:
import numpy as np
import pandas as pd

In [25]:
data = pd.  read_csv('movies.csv')

In [26]:
data

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [28]:
data.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [32]:
missing_data = data.isnull()
missing_data

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True     False  False   True     True   True
9995   False  False  False    True     False  False   True     True   True
9996   False  False  False    True     False  False   True     True   True
9997   False  False  False    True     False  False   True     True   True
9998   False  False  False    True     False  False   True     True   True

[9999 rows x 9 columns]

In [35]:
for columns in missing_data:
    print(missing_data[columns].value_counts())
    print("")

MOVIES
False    9999
Name: count, dtype: int64

YEAR
False    9355
True      644
Name: count, dtype: int64

GENRE
False    9919
True       80
Name: count, dtype: int64

RATING
False    8179
True     1820
Name: count, dtype: int64

ONE-LINE
False    9999
Name: count, dtype: int64

STARS
False    9999
Name: count, dtype: int64

VOTES
False    8179
True     1820
Name: count, dtype: int64

RunTime
False    7041
True     2958
Name: count, dtype: int64

Gross
True     9539
False     460
Name: count, dtype: int64

In [36]:
data.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.0,NaN
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN
10,Gunpowder Milkshake,(2021),"\nAction, Adventure, Thriller",6.0,\nThree generations of women fight back agains...,\n Director:\nNavot Papushado\n| \n Star...,"17,989",114.0,NaN
11,Lucifer,(2016–2021),"\nCrime, Drama, Fantasy",8.1,\nLucifer Morningstar has decided he's had eno...,"\n \n Stars:\nTom Ellis, \nLesle...","264,222",42.0,NaN
12,Fear Street: 1994,(2021),"\nDrama, Horror, Mystery",6.2,\nA circle of teenage friends accidentally enc...,\n Director:\nLeigh Janiak\n| \n Stars:\...,"50,148",107.0,NaN
13,Sex/Life,(2021– ),"\nComedy, Drama, Romance",5.4,\nA suburban mother of two takes a fantasy-cha...,"\n \n Stars:\nSarah Shahi, \nMik...","12,172",NaN,NaN
14,American Horror Story,(2011– ),"\nDrama, Horror, Thriller",8.0,\nAn anthology series centering on different c...,"\n \n Stars:\nLady Gaga, \nKathy...","286,488",60.0,NaN
15,Grey's Anatomy,(2005– ),"\nDrama, Romance",7.5,\nA drama centered on the personal and profess...,"\n \n Stars:\nEllen Pompeo, \nCh...","266,258",41.0,NaN
16,Breaking Bad,(2008–2013),"\nCrime, Drama, Thriller",9.4,\nA high school chemistry teacher diagnosed wi...,"\n \n Stars:\nBryan Cranston, \n...","1,552,311",49.0,NaN
17,The Good Doctor,(2017– ),\nDrama,8.1,"\nShaun Murphy, a young surgeon with autism an...","\n \n Stars:\nFreddie Highmore, ...","70,871",41.0,NaN
18,Atypical,(2017–2021),"\nComedy, Drama",8.3,"\nSam, an 18-year-old on the autism spectrum, ...",\n \n Stars:\nJennifer Jason Lei...,"71,544",30.0,NaN
19,Stranger Things,(2016– ),"\nDrama, Fantasy, Horror",8.7,"\nWhen a young boy disappears, his mother, a p...",\n \n Stars:\nMillie Bobby Brown...,"885,856",51.0,NaN

In [39]:
mean_rating = data['RATING'].astype('float').mean(axis = 0)
mean_rating

6.921176182907446

In [42]:
data['RATING'] = data['RATING'].replace(np.NAN,mean_rating)

In [43]:
data['RATING'].isnull().sum()

0

In [46]:
mode_votes = data['VOTES'].value_counts()
mode_votes

VOTES
7         35
30        31
26        28
32        28
6         27
          ..
1,368      1
2,437      1
8,271      1
10,883     1
911        1
Name: count, Length: 4129, dtype: int64

In [47]:
mode_votes = data['VOTES'].value_counts().idxmax()
mode_votes

'7'

In [48]:
data['VOTES'] = data['VOTES'].replace(np.NAN, 7)

In [50]:
data['VOTES'].isnull().sum()

0

In [51]:
mean_runtime = data['RunTime'].astype('float').mean(axis = 0)
mean_runtime

68.68853855986366

In [52]:
data['RunTime'] = data['RunTime'].replace(np.NAN,mean_runtime)

In [53]:
data['RunTime'].isnull().sum()

0

In [54]:
data['Gross'].value_counts()

Gross
$0.01M     22
$0.02M     16
$0.00M     15
$0.03M     10
$0.04M      9
           ..
$37.77M     1
$44.82M     1
$21.36M     1
$54.76M     1
$10.40M     1
Name: count, Length: 332, dtype: int64

In [55]:
data['Gross'].isnull().value_counts()

Gross
True     9539
False     460
Name: count, dtype: int64

In [57]:
data['Gross'] = data['Gross'].str.replace('$', '').str.replace('M','').str.replace(',','').astype('float')

In [59]:
mean_gross = data['Gross'].astype('float').mean(axis = 0)
mean_gross

43.70186956521739

In [62]:
data['Gross'] = data['Gross'].replace(np.NAN,mean_gross)

In [63]:
data['Gross'].isnull().sum()

0

In [70]:
new_missing_data = data.isnull()
new_missing_data

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False  False
1      False  False  False   False     False  False  False    False  False
2      False  False  False   False     False  False  False    False  False
3      False  False  False   False     False  False  False    False  False
4      False  False  False   False     False  False  False    False  False
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False   False     False  False  False    False  False
9995   False  False  False   False     False  False  False    False  False
9996   False  False  False   False     False  False  False    False  False
9997   False  False  False   False     False  False  False    False  False
9998   False  False  False   False     False  False  False    False  False

[9999 rows x 9 columns]

In [71]:
for columns in new_missing_data:
    print(new_missing_data[columns].isnull().value_counts())
    print("")

MOVIES
False    9999
Name: count, dtype: int64

YEAR
False    9999
Name: count, dtype: int64

GENRE
False    9999
Name: count, dtype: int64

RATING
False    9999
Name: count, dtype: int64

ONE-LINE
False    9999
Name: count, dtype: int64

STARS
False    9999
Name: count, dtype: int64

VOTES
False    9999
Name: count, dtype: int64

RunTime
False    9999
Name: count, dtype: int64

Gross
False    9999
Name: count, dtype: int64

In [72]:
data.isnull().sum()

MOVIES        0
YEAR        644
GENRE        80
RATING        0
ONE-LINE      0
STARS         0
VOTES         0
RunTime       0
Gross         0
dtype: int64

In [2]:
print("end")

end

In [3]:
print("End")

End